<!--                -->
<!-- NAVIGATION BAR -->
<!--                -->
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6" id="insertNavBar">
    {{!-- folder/handlebars file name --}}
    {{> nav_footer/navbar-block }}
  </div>
  <div class="col-md-3"></div>
</div>

<!--                    -->
<!-- ABOUT ME CONTAINER -->
<!--                    -->
<div class="row" id="mainContent">
  <!-- this row has columns of ratios of 3/12, 6/12, 3/12 -->
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="aboutContainer">
      <h3>About Me</h3>
      <hr />

      <div class="bioContents">
        <img id="portrait" src="images/Alvaro.png" />
        <p1>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto
          dolorum labore voluptatibus, sunt consequuntur harum, iste
          distinctio velit expedita vitae omnis quam odio blanditiis
          eligendi. Voluptatem sapiente amet explicabo odit? Lorem ipsum
          dolor, sit amet consectetur adipisicing elit. Iusto dolorum
          labore voluptatibus, sunt consequuntur harum, iste distinctio
          velit expedita vitae omnis quam odio blanditiis eligendi.
          Voluptatem sapiente amet explicabo odit? Lorem ipsum dolor, sit
          amet consectetur adipisicing elit. Iusto dolorum labore
          voluptatibus, sunt consequuntur harum, iste distinctio velit
          expedita vitae omnis quam odio blanditiis eligendi. Voluptatem
          sapiente amet explicabo odit?
        </p1>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

<!--        -->
<!-- FOOTER -->
<!--        -->
<div class="row">
  <div class="col-md-12" id="insertFooter">
    {{> nav_footer/footer-block}}
  </div>
</div>
</div>

{{!-- Javascript what does this do??? --}}
<script src="/js/index.js"></script>