<!--                -->
<!-- NAVIGATION BAR -->
<!--                -->
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" id="insertNavBar">
        {{!-- folder/handlebars file name --}}
        {{> nav_footer/navbar-block }}
    </div>
    <div class="col-md-3"></div>
</div>

<!--                     -->
<!-- PORTFOLIO CONTAINER -->
<!--                     -->
<div class="row" id="mainContent">
    <!-- this row has columns of ratios of 3/12, 6/12, 3/12 -->
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="main">
            <h3>Portfolio</h3>
            <hr />
            <!-- Portfolio Gallery Grid -->

            <!-- 1st row -->
            <div class="row">
                <div class="col-md-4">
                    <div class="content">
                        <img src="images/kahnManpng.png" alt="Mountains" style="width: 100%;" />
                        <a class="projectName" href="../3_WordGuessGame/WordGuessGame/index.html"
                            target="_blank">Kahn-man</a>
                        <br />
                        <a href="https://github.com/alvaroluna/WordGuessGame" target="_blank">[...] - Github</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="content">
                        <img src="images/seinfeld.png" alt="Lights" style="width: 100%;" />
                        <a class="projectName" href="../5_TriviaGame/TriviaGame/index.html" target="_blank">Seinfeld
                            Trivia</a>
                        <br />
                        <a href="https://github.com/alvaroluna/TriviaGame" target="_blank">[...] - Github</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="content">
                        <img src="images/sarcasticGif.png" alt="Nature" style="width: 100%;" />
                        <a class="projectName" href="../6_GifTastic/GifTastic/index.html" target="_blank">Gif Tastic</a>
                        <br />
                        <a href="https://github.com/alvaroluna/GifTastic" target="_blank">[...] - Github</a>
                    </div>
                </div>
            </div>

            <!-- 2nd row -->
            <div class="row">
                <!-- 0 -->
                <div class="col-md-4">
                    <div class="content">
                        <img src="images/crystalColl.png" alt="Mountains" style="width: 100%;" />
                        <a class="projectName" href="../unit-4-game/index.html" target="_blank">Crystals Collector</a>
                        <br />
                        <a href="https://github.com/alvaroluna/unit-4-game/blob/master/index.html" target="_blank">[...]
                            -
                            Github</a>
                    </div>
                </div>

                <!-- 1 -->
                <div class="col-md-4">
                    <div class="content">
                        <img src="images/cta.png" alt="Nature" style="width: 100%;" />
                        <a class="projectName" href="../7_TrainSchedule/TrainSchedulerBasic/index.html"
                            target="_blank">CTA
                            Train Schedule</a>
                        <br />
                        <a href="https://github.com/alvaroluna/TrainSchedulerBasic" target="_blank">[...] - Github</a>
                    </div>
                </div>

                <!-- 2 -->
                <div class="col-md-4">
                    <div class="content">
                        <img src="images/birthday.png" alt="Nature" style="width: 100%;" />
                        <a class="projectName" href="../PROJECT1/Project-1/index.html" target="_blank">It Is Your
                            Birthday</a>
                        <br />
                        <a href="https://github.com/atrodondi/Project-1" target="_blank">[...] - Github</a>
                    </div>
                </div>
            </div>

            <!-- 3rd row -->
            <div class="row">
                <!-- 0 -->
                <div class="col-md-4">
                    <div class="content">
                        <img src="images/liriBot.png" alt="Mountains" style="width: 100%;" />
                        <a class="projectName" href="https://www.akc.org/dog-breeds/shiba-inu/" target="_blank">Liri
                            Bot</a>
                        <br />
                        <a href="https://github.com/alvaroluna/liri-node-app" target="_blank">[...] - Github</a>
                    </div>
                </div>

                <!-- 1 -->
                <div class="col-md-4">
                    <div class="content">
                        <img src="images/Concstructor.png" alt="images/ShibaBlack.jpg" style="width: 100%;" />
                        <a class="projectName" href="https://www.akc.org/dog-breeds/shiba-inu/"
                            target="_blank">Constructor Word
                            Guess</a>
                        <br />
                        <a href="https://github.com/alvaroluna/Constructor-Word-Guess" target="_blank">[...] -
                            Github</a>
                    </div>
                </div>

                <!-- 2 -->
                <div class="col-md-4">
                    <div class="content">
                        <img src="images/bamazon.png" alt="images/ShibaBlack.jpg" style="width: 100%;" />
                        <a class="projectName" href="https://www.akc.org/dog-breeds/shiba-inu/"
                            target="_blank">Bamazon</a>
                        <br />
                        <a href="https://github.com/alvaroluna/Bamazon" target="_blank">[...] - Github</a>
                    </div>
                </div>
            </div>
            <!-- 4th row -->
            <div class="row">
                <!-- 0 -->
                <div class="col-md-4">
                    <div class="content">
                        <img src="images/FriendFinder.png" alt="Mountains" style="width: 100%;" />
                        <a class="projectName" href="https://glacial-headland-80157.herokuapp.com/"
                            target="_blank">Friend
                            Finder</a>
                        <br />
                        <a href="https://github.com/alvaroluna/FriendFinder" target="_blank">[...] - Github</a>
                    </div>
                </div>

                <!-- 1 -->
                <div class="col-md-4">
                    <div class="content">
                        <img src="images/burger.png" alt="Mountains" style="width: 100%;" />
                        <a class="projectName" href="https://agile-retreat-19803.herokuapp.com/" target="_blank">Mmm
                            Good
                            Burger</a>
                        <br />
                        <a href="https://github.com/alvaroluna/burger" target="_blank">[...] - Github</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<br />
<br />
<br />
<br />

<!--        -->
<!-- FOOTER -->
<!--        -->
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" id="insertFooter">
        <!-- Footer.js -->
    </div>
    <div class="col-md-3"></div>
</div>
</div>

<!--        -->
<!-- FOOTER -->
<!--        -->
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" id="insertFooter">
        {{> nav_footer/footer-block}}
    </div>
    <div class="col-md-3"></div>
</div>
</div>

{{!-- Javascript what does this do??? --}}
<script src="/js/index.js"></script>