<div class="row">
    <div class="col-md-4">
        <div class="content">
            <img src="images/kahnManpng.png" alt="images/ShibaBlack.jpg" style="width: 100%;" />
            <a class="projectName" href="../3_WordGuessGame/WordGuessGame/index.html" target="_blank">Kahn-man</a>
            <br />
            <a href="https://github.com/alvaroluna/WordGuessGame" target="_blank">[...] - Github</a>
        </div>
    </div>