<footer class="py-5 fixed-bottom">
    <div class="container">
        <p class="m-0 text-center small">
            <a href="">Alvaro Luna |</a>
            <a href="mailto:luna.alvaro3@gmail.com">luna.alvaro3@gmail.com </a>
            <a>| 630 520 5943</a>
        </p>
        <p>
            <a href="https://github.com/alvaroluna">GitHub</a> |
            <a href="https://www.linkedin.com/in/aalvarolunaa/">LinkedIn |</a>
            <a href="assets/pdf/Resume.pdf">Resume</a>
        </p>
    </div>
</footer>