/* ############# */
/* CSS VARIABLES */
/* ############# */

* {
  /* color palette */
  --bkgnd-gradTop: 0, 132, 255;
  --bkgnd-gradBtm: 255, 255, 255;
  --color-box: 242, 242, 242;
  --color-nameBlock: 75, 74, 74;
  --color-border: 242, 242, 242;
  --alpha: 0.5;

  /* font families */
  --main-font: "Karla", sans-serif;
}

/*###############*/
/* BODY SETTINGS */
/*###############*/
body {
  /* background-image: linear-gradient(rgb(var(--bkgnd-gradTop)), rgb(var(--bkgnd-gradBtm)));
    min-height: 1080px; */
  background-color: white;
}

hr {
  position: relative;
  bottom: 7px;
  border-color: rgb(var(--color-nameBlock));
  background: rgb(var(--color-nameBlock));
  border-width: 0.5px;
}

/*################*/
/* NAVIGATION BAR */
/*################*/
#navbarSupportedContent {
  position: relative;
  text-align: center;
}

.LOGO {
  font-weight: bolder;
  padding-left: 0em;
}

.nav-link {
  font-family: var(--main-font);
  margin: 20px;
  width: 100px;
}

/* link settings */
a {
  color: black;
  text-decoration: none;
}

#aboutLink {
  float: left;
  width: 100px;
}

#portfolioLink {
  float: left;
  width: 100px;
  /* background: grey; */
}

#contactLink {
  float: left;
  width: 100px;
}

#footerBreakLine {
  position: relative;
  top: 875px;
  border-color: rgb(var(--color-nameBlock));
  background: rgb(var(--color-nameBlock));
  border-width: 0.5px;
}

.projectName {
  font-weight: bold;
}

/*##############*/
/* FOOTER STYLE */
/*##############*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: black;
  font-family: var(--main-font);
  font-size: small;
  text-align: center;
}

/* this covers the content below the footer */
/* makes it look like it slides below footer */
#footerBackground {
  background: white;
}